@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fafafa;
}

main {
  padding-top: 2.125rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: url(images/background.png);
  background-repeat: no-repeat;
  width: 454px;
  height: 618px;

  margin-left: -35px;
  margin-right: -15px;

  position: relative;
}

.background img {
  display: none;
  position: absolute;
  left: 151px;
  top: 100px;
}

img.previous {
  display: block;
  z-index: 1;
}

img.current {
  display: block;
  z-index: 2;
  animation: appear 2.5s;
}

.form-container {
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;

  border: 1px solid #d8d8d8;

  padding-bottom: 1.25rem;
}

.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-form {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.img-form > img {
  width: 175px;
  height: 91px;
}

.input-content {
  margin-bottom: 0.5rem;
}

.input-box {
  width: 260px;
  height: 36px;

  position: relative;

  margin-bottom: 0.5rem;
}

.input-box input {
  outline: none;

  width: 100%;
  height: 100%;
  padding: 9px 8px 7px 8px;

  background: #fafafa;

  border: 1px solid #d8d8d8;
  border-radius: 2px;

  font-size: 0.75rem;
  color: #262626;
}

.input-box input:focus {
  border-color: rgba(130, 130, 130, 0.7);
}

.input-box label {
  pointer-events: none;

  position: absolute;
  top: 0.75rem;
  left: 0.625rem;

  font-size: 0.75rem;
  color: rgba(130, 130, 130, 0.9);

  transition: 0.2s;
}

input.active {
  padding: 14px 8px 2px 8px;
}

input.active[name='password'] {
  padding: 14px 65px 2px 8px;
}

.active ~ label {
  font-size: 0.625rem;
  top: 0.25rem;
}

.password-button {
  display: none;
  border: none;
  background: transparent;

  position: absolute;
  right: 0.5rem;
  top: 0.625rem;

  font-weight: 600;
  font-size: 0.875rem;

  cursor: pointer;
}

.password-button:focus {
  outline: none;
}

.password-button.active {
  display: block;
}

.button-enter {
  width: 260px;
  height: 30px;

  outline: none;
  border: none;

  background-color: #0095f7;
  border-radius: 4px;

  font-weight: 600;
  font-size: 0.875rem;
  color: #fafafa;

  cursor: pointer;
}

.button-enter:disabled {
  opacity: 0.3;

  cursor: alias;
}

.or-container {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 1rem;

  position: relative;
}

.or-container span {
  font-size: 0.75rem;
  font-weight: 600;
  color: rgba(130, 130, 130, 0.9);
}

.or-container span::before {
  content: '';

  position: absolute;
  top: 0.375rem;
  left: 2.75rem;

  width: 100px;
  height: 1px;

  background: #d8d8d8;
}

.or-container span::after {
  content: '';

  position: absolute;
  top: 0.375rem;
  right: 2.75rem;

  width: 100px;
  height: 1px;

  background: #d8d8d8;
}

.facebook-button {
  margin-top: 1.5rem;
}

.facebook-button button {
  border: none;
  outline: none;
  background: transparent;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.facebook-button img {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

.facebook-button span {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 0.875rem;

  color: #385185;
}

.forgot-password {
  margin-top: 1rem;
}
.forgot-password a {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.75rem;
  color: #1f4f7d;
}

.signup-container {
  height: 4rem;
  margin-top: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff;
  border: 1px solid #d8d8d8;
}

.signup-container p {
  text-align: center;
  font-size: 0.875rem;

  color: #262626;
}

.signup-container p a {
  text-decoration: none;
  font-weight: 600;

  color: #0095f7;
}

.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.25rem;
}

.download-container p {
  font-size: 0.875rem;
  font-weight: 300;
}

.download-container > div {
  margin-top: 1.25rem;
}

.download-container > div img {
  width: 136px;
  height: 40px;
}

/* Footer */
footer {
  margin-top: 3.625rem;
  margin-bottom: 3.875rem;
}

footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > div:nth-child(2) {
  margin-bottom: 1rem;
}

footer > div ul {
  display: flex;
  justify-content: center;

  list-style: none;
}

footer > div:not(:last-child) ul {
  flex-wrap: wrap;
}

footer > div ul li {
  flex: 0 0 auto;
  vertical-align: baseline;
}

footer > div ul li:not(:first-child and :last-child) {
  margin-left: 1rem;
}

footer > div span,
footer > div a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25rem;

  color: rgba(130, 130, 130, 0.9);
}

footer > div svg {
  transform: rotateZ(180deg) translateY(-0.125rem);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 875px) {
  .background {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  main {
    padding: 0;
  }
  .login-container > div {
    width: 100vw;

    overflow-x: hidden;

    border: none;
    background: transparent;
  }
  footer {
    padding: 0 1rem;
  }
}
